<!DOCTYPE html>
<html>
<head>
    <title>{% if view.action == 'update' %}Update{% else %}Create{% endif %} Index</title>
</head>
<body>
    <h1>{% if view.action == 'update' %}Update{% else %}Create{% endif %} Index</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if view.action == 'update' %}Update{% else %}Create{% endif %}</button>
    </form>
    <a href="{% url 'index_list' %}">Back to Index List</a>
</body>
</html>